/* Typography */
html {
  font-size: 16px;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}
.title-h1 {
  font-size: 6rem;
}
.title {
  font-size: 3.2rem;
}
.sub-title {
  font-size: 1.5rem;
}

.list-group-item h3 {
  font-size: 1.5rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Header */
.navbar-brand {
  position: absolute;
  top: 0px;
  z-index: 1;
}
@media (max-width: 768px) {
  .navbar-brand img {
    width: 70px;
  }
  .navbar-collapse {
    margin-top: 50px;
    border-top: 1px solid #eee;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header-navbar {
  backdrop-filter: blur(20px);
  border-bottom: 0.5px solid #fff;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banner-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #00000073 47%, #000000 100%);
  opacity: 0.86;
  /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  -webkit-animation: bg-scrolling-reverse 2.92s infinite;
  -moz-animation: bg-scrolling-reverse 2.92s infinite;
  -o-animation: bg-scrolling-reverse 2.92s infinite;
  animation: bg-scrolling-reverse 2.92s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content {
  position: relative;
  z-index: 1;
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 5px;
}
/* Services */
.services {
  background: #0e584d;
  color: #fff;
}
.services .icon svg {
  width: 3rem;
  height: 3rem;
  display: block;
  fill: #e0b10b;
  stroke: #e0b10b;
  stroke-width: 0.5px;
}
.services .icon {
  width: 100%;
  height: 100%;
  max-height: 150px;
  overflow: hidden;
}
.services .icon img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .services .icon img {
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.services h2,
.services h3,
.services h4 {
  color: #e0b10b;
}

.whyussection {
  width: 100vw;
  height: 100vh;
}
.section-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #00000073 47%, #000000 100%);
  opacity: 0.86;
  /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.whyussection img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.chicken-head {
  min-height: 600px;
}
.chicken-head img {
  width: 65%;
  border-style: solid;
  border-width: 0px 5px 0px 5px;
  border-color: #fff;
  border-radius: 45px 45px 45px 45px;
}
.whyussection-content {
  position: relative;
  z-index: 1;
}
.whyussection-content h1 {
  color: #fff;
  font-size: 4rem;
}
.whyussection-content h1 {
  color: #e0b10b;
  font-size: 2rem;
}
.whyussection-content ul li {
  list-style: none;
  position: relative;
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.whyussection-content ul li svg {
  position: absolute;
  left: -30px;
  top: 0;
}
.check-icon svg {
  width: 20px;
  height: 20px;
  fill: #e0b10b;
}
@media (max-width: 767px) {
  .banner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .whyussection-content h1 {
    color: #fff;
    font-size: 1.8rem;
  }
  .whyussection-content h1 {
    color: #e0b10b;
    font-size: 1.5rem;
  }
  .chicken-head img {
    width: 100%;
    position: relative;
  }
  .whyussection {
    height: 100%;
  }
  .chicken-head {
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
  }
}

/* Animation */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    transform: scale(1.1) translate(-20px, 10px);
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    transform: scale(1.1) translate(-20px, 10px);
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    transform: scale(1.1) translate(-20px, 10px);
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    transform: scale(1.1) translate(-20px, 10px);
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    transform: scale(1.1) translate(-20px, 10px);
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    transform: scale(1.1) translate(-20px, 10px);
  }
}
@-o-keyframes bg-scrolling {
  0% {
    transform: scale(1.1) translate(-20px, 10px);
  }
}
@keyframes bg-scrolling {
  0% {
    transform: scale(1.1) translate(-20px, 10px);
  }
}

/* header */
.header {
  transition: all 0.3s ease-in-out;
}
.header.small .logo-wrapper img {
  width: 50px;
  height: 50px;
}
.js-header-sticky {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 2;
}
.top-navbar {
  background: #e24328;
  color: #fff;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-navbar a {
  color: yellow;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
}
.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #000000;
}

/* Hero Section */

.hero {
  position: relative;
  z-index: -1;
}

/* Dealer logo section */
.dealer-logo-container {
  overflow: hidden;
}
.dealer-logo-container .slider {
  animation: slidein 30s linear infinite;
  white-space: nowrap;
}
.dealer-logo-container .slider .logos {
  width: 100%;
  display: inline-block;
  margin: 0px 0;
}
@media (max-width: 767px) {
  .dealer-logo-container .slider .logos {
    margin: 0px 150px;
  }
}
.dealer-logo-container .slider .logos .fab {
  width: 100px;
  height: 100px;
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  object-fit: contain;
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Banner code */

/* Fullscreen Container */
.banner-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* Parallax Effect on Image */
.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1.1); /* Initial zoom */
  animation: zoomEffect 15s infinite alternate;
}

/* Zoom-in & Zoom-out Animation */
@keyframes zoomEffect {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* Overlay for readability */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust overlay transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Banner Text */
.banner-text h1 {
  z-index: 1;
  font-size: 4.5em;
  color: #e0b10b;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner-text h2 {
  z-index: 1;
  font-size: 2.5em;
  color: #fff;
  font-weight: bold;
  text-align: left;
  position: absolute;
  left: 0;
  top: 30%;
}

.banner-text {
  width: 50%;
  min-height: 200px;
  height: 50%;
  position: relative;
}

/* Responsive Font Size */
@media (max-width: 768px) {
  .banner-text {
    font-size: 1rem;
    width: 100%;
  }
}

/* Chicks Booking section */
.service-section {
  position: relative;
  padding: 100px 20px;
}

.service-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/chicks.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  z-index: -1;
}

.service-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.service-section p {
  font-size: 1.2rem;
  margin: 20px 0;
  line-height: 1.8;
  color: #fff;
}

.service-section .cta-button {
  display: inline-block;
  background-color: #ff5722;
  color: white;
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.service-section .cta-button:hover {
  background-color: #e64a19;
}
